<% if user_signed_in? %>

<h1>Dashboard</h1>
<br />
<h4><b>My Work Goals - </b> Make $150,000 over - Make it to presidents club - Whistler</h4>

<h3>Weekly Metrics</h3>
- 10 Drops per week<br>
- 2 New Appointments
<br>
<h3>Daily Metrics</h3>
- 10 Calls per day
<br>
<h3>Outstanding Issues</h3><br>
<h3>Schedule</h3><br>
<h3>Follow-up Items</h3><br>


<% end %>